<div class="blog-container">
    <div id="blog-post">
        <div id="blog-title">
            <h2>{{blog.title}}</h2>
            <p><i>Published on {{blog.dateCreated}}</i></p>
        </div>
        <div class="blog-body" id="content-body">
            <p>{{blog.contentPost}}</p>
        </div>
    </div>
    <input id="blog-id" hidden="hidden" value="{{blog.id}}">
    <div class="blog-comment" id="comment-form">
        <label for="comment-input">Comment:</label></br>
        <textarea class="input" style="width: 75%; height: 50px" id="comment-text"></textarea></br>
        <button id="comment-submit" type="submit" class="comment-card-submit">Submit</button>
    </div>
</div>

<section class="comment-posts">
    {{#each blog.comments}}
    <div class="user-comments">
        <p>{{commentPost}}</p>
        {{!-- <p><i>Commented by {{this.user.name}} on {{this.dateCreated}}</i></p> --}}
    </div>
    {{/each}}
</section>
<script src="/js/comments.js"></script>
